
@{
    ViewData["Title"] = "İLETİŞİM";
}


<!-- Contact Section -->
<section class="contact-section" id="contact">
    <div class="small-container">
        <div class="sec-title text-center">
            <h2>@ViewData["Title"]</h2>
            <span class="divider"></span>
        </div>

        <!-- Contact box -->
        <div class="contact-box">
            <div class="row">
                <div class="contact-info-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner">
                        <span class="icon flaticon-worldwide"></span>
                        <h4><strong>Adres</strong></h4>
                        <p>İzmir Kan Hastalıkları ve Kanser Araştırma Yardım Derneği, <br>Huzur Mah. Öğretmenler Sok. No:23 4-C Kıranşal Apt. <br>Narlıdere - İzmir</p>
                    </div>
                </div>

                <div class="contact-info-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner">
                        <span class="icon flaticon-phone"></span>
                        <h4><strong>Telefon</strong></h4>
                        <p>(0232) 412 48 51</p>
                    </div>
                </div>

                <div class="contact-info-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner">
                        <span class="icon flaticon-email"></span>
                        <h4><strong>E-Posta</strong></h4>
                        <p><a href="mailto:kartvizit@gmail.com">kartvizit@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form box -->
        <div class="form-box">
            <div class="contact-form">
                <form action="#" method="post" id="email-form">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <div class="response"></div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" name="username" class="username" placeholder="Full Name *">
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" class="email" placeholder="Email Address *">
                            </div>

                            <div class="form-group">
                                <input type="text" name="username" class="username" placeholder="Your Phone">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <textarea name="contact_message" class="message" placeholder="Massage"></textarea>
                            </div>

                        </div>

                        <div class="form-group col-lg-12 text-center pt-3">
                            <button class="theme-btn btn-style-one" type="button" id="submit" name="submit-form"><span class="btn-title">Send Message</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-12">

            <!-- Headline -->	<blockquote>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6254.148692934521!2d26.9902685!3d38.39353!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdcd6d27f624b%3A0x2596659262c77ef5!2zxLB6bWlyIEthbiBIYXN0YWzEsWtsYXLEsSB2ZSBLYW5zZXIgQXJhxZ90xLFybWEgWWFyZMSxbSBEZXJuZcSfaQ!5e0!3m2!1str!2str!4v1609189688425!5m2!1str!2str" width="900" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </blockquote>

        </div>

    </div>
</section>
<!--End Contact Section -->




