@{
    ViewData["Title"] = "title";
}
<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <h2>uc"]</h2>
            <span class="divider"></span>
        </div>
    </div>
</section>
<!--End News Section -->
