@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Yetkisiz Giriş";
}

<section class="page-title" style="background-image: url(../../../../images/background/8.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</section>

<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-12 col-md-12 col-sm-12">
                 Bu sayfaya erişim yetkiniz bulunmamaktadır.
                <hr />
            </div>
        </div>
    </div>
</section>
