@page
@model LoginModel

@{
    ViewData["Title"] = "GİRİŞ";
}



<!--Page Title-->
<section class="page-title" style="background-image: url(../../../../images/background/8.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Login Section-->
<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-12 col-md-12 col-sm-12">
                <!-- Login Form -->
                <div class="login-form">
                    <h5>Merhaba, Kartvizit sistemine hoşgeldiniz. Kullanıcınız varsa lütfen giriş yapınız, yoksa yeni bir kullanıcı oluşturunuz.<br /><br /></h5>
                    <!--Login Form-->
                    <form id="account" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Email">Kullanıcı Adı (E-Posta)</label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Şifre</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">GİRİŞ</span></button>
                        </div>
                    </form>
                    <div class="form-group">
                        <button onclick="window.location.href = '@Url.Page("/Account/Register", new { Area = "Identity" })'" class="theme-btn btn-style-three"><span class="btn-title">YENİ KAYIT</span></button>
                    </div>

                </div>
                <!--End Login Form -->
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
